<ion-header>
    <ion-toolbar color="pmary">
        <ion-buttons slot="start">
            <ion-button color="primary" (click)="closeModal()">
                <ion-icon name="close" color="dark"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title color="dark" class="fw400">
            {{ 'property.schoolsInfo' | translate }}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="bg-white">
        <div id="schoolMap" style="width: 100%; height: 260px;"></div>
        
        <ion-card-content>
            <h3 class="ion-text-center">
                <ion-text color="dark">
                    {{school.formatted_address}} •
                </ion-text>
            </h3>
        </ion-card-content>
    </ion-card>
    <!-- <div class="info-card">
        <span style="font-size: 14px !important;">Basic Information</span><br><br>
        <agm-map [latitude]="property.lat" [longitude]="property.long" [zoom]="12">
            <agm-marker [latitude]="property.lat" [longitude]="property.long"></agm-marker>
        </agm-map><br>
        <span>
            Address: 541 Huron St, Toronto, Ontario
        </span><br><br>
        <span>
            Phone Number:
        </span><br><br>
        <span>School Type: Elementary (Public)</span>
    </div> -->
    <div class="info-card">
        <span>Plus Code</span><br><br>
        <span>
            Compound Code: {{ school.plus_code.compound_code }}
        </span><br><br>
        <span>
            Global Code: {{ school.plus_code.global_code }}
        </span><br><br>
        <span>Distance: {{ school.distance | number : '1.2-2' }} KM</span><br><br>
        <ionic4-star-rating #rating
            activeIcon = "ios-star"
            defaultIcon = "ios-star-outline"
            activeColor = "#e01a27" 
            defaultColor = "#888"
            readonly="false"
            rating="{{school.rating}}"
            fontSize = "14px">
        </ionic4-star-rating>
    </div>
    <!-- <div class="info-card" style="margin-bottom: 5px;">
        <span style="font-size: 14px !important;">EQAO GTA School Ranking</span><br><br>
        <span>
            2018-2019 G3: 462/1338 &nbsp;&nbsp;&nbsp;5Y : Avg: 68
        </span><br><br>
        <span>
            2018-2019 G6: 660/1217 &nbsp;&nbsp;&nbsp;5Y : Avg: 55
        </span>
    </div> -->
</ion-content>