<ion-header>
  <ion-toolbar color="pmary">
    <ion-buttons slot="start">
        <ion-button color="primary" (click)="dismissModal()">
            <ion-icon name="close" color="dark"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-title color="dark" class="fw400">
    	{{ 'app.searchFilter' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<form [formGroup]="filterForm">
		<mat-accordion multi="true">
			<mat-expansion-panel disabled="true" expanded>
				<mat-expansion-panel-header class="expansion-header"></mat-expansion-panel-header>
				
				<div class="row-div" style="margin-bottom: 5px;">
					<ion-row class="room-row">
						<ion-col size="3" [ngClass]="{'activeFilter' : residentialFlag, 'room-col' : !residentialFlag}" (click)="propertyTypeChange('residential')">
							{{ 'property.residential' | translate }}
						</ion-col>
						<ion-col size="3" [ngClass]="{'activeFilter' : !residentialFlag, 'room-col' : residentialFlag}" (click)="propertyTypeChange('commercial')">
							{{ 'property.commercial' | translate }}
						</ion-col>
						<ion-col size="3" [ngClass]="{'activeFilter' : saleFlag, 'room-col' : !saleFlag}" (click)="saleLease('sale')">
							{{ 'property.sale' | translate }}
						</ion-col>
						<ion-col size="3" [ngClass]="{'activeFilter' : !saleFlag, 'room-col' : saleFlag}" (click)="saleLease('lease')">
							{{ 'property.lease' | translate }}
						</ion-col>
					</ion-row>
				</div>

				<mat-form-field appearance="outline" style="padding-right: 5px;" class="fieldformat">
                    <mat-label>{{ 'property.forSale' | translate }}</mat-label>
                    <mat-select (ngModelChange)="onChange()" placeholder="Select ..." formControlName="propertyActiveTime" >
						<mat-option *ngFor="let sale of propertySaleArray" 
							[value]="sale.value">
							{{ sale.name }}
						</mat-option>
                    </mat-select> 
				</mat-form-field>

				<mat-form-field *ngIf="saleFlag" appearance="outline" class="fieldformat">
                    <mat-label>{{ 'property.forSold' | translate }}</mat-label>
                    <mat-select (ngModelChange)="onChange()" placeholder="Select ..." formControlName="soldDays" >
						<mat-option *ngFor="let sold of propertySoldArray" 
							[value]="sold.value">
							{{ sold.name }}
						</mat-option>
                    </mat-select> 
				</mat-form-field>

				<mat-form-field appearance="outline" class="w100">
					<mat-label>{{ 'property.propertyTypes' | translate }}</mat-label> 
					<mat-select (ngModelChange)="onChange()" placeholder="Select Property Type" formControlName="propertyOptions">
						<mat-option *ngFor="let propertyType of propertyTypesArray" 
							[value]="propertyType.name">
							{{ propertyType.name }}
						</mat-option>
					</mat-select>
				</mat-form-field>

				<mat-form-field appearance="outline" style="padding-right: 5px;" class="fieldformat">
                    <mat-label>{{ 'property.minPrice' | translate }}</mat-label>
                    <mat-select (ngModelChange)="onChange()" placeholder="$" formControlName="listPriceMin" >
						<mat-option *ngFor="let price of minPriceList" 
							[value]="price.value">
							{{ price.price }}
						</mat-option>
                    </mat-select> 
				</mat-form-field>

				<mat-form-field appearance="outline" class="fieldformat">
                    <mat-label>{{ 'property.maxPrice' | translate }}</mat-label>
                    <mat-select (ngModelChange)="onChange()" placeholder="$" formControlName="listPriceMax" >
						<mat-option *ngFor="let price of maxPriceList" 
							[value]="price.value">
							{{ price.price }}
						</mat-option>
                    </mat-select> 
				</mat-form-field>

				<mat-form-field appearance="outline" style="padding-right: 5px;" class="fieldformat">
                    <mat-label>{{ 'property.minFootage' | translate }}</mat-label>
                    <mat-select (ngModelChange)="onChange()" formControlName="approxSquareFootageMin" >
						<mat-option *ngFor="let footage of minSquareFootageList" 
							[value]="footage.value">
							{{ footage.footage }}
						</mat-option>
                    </mat-select> 
				</mat-form-field>

				<mat-form-field appearance="outline" class="fieldformat">
                    <mat-label>{{ 'property.maxFootage' | translate }}</mat-label>
                    <mat-select (ngModelChange)="onChange()" formControlName="approxSquareFootageMax" >
						<mat-option *ngFor="let footage of maxSquareFootageList" 
							[value]="footage.value">
							{{ footage.footage }}
						</mat-option>
                    </mat-select> 
				</mat-form-field>

				<mat-form-field *ngIf="residentialFlag" appearance="outline" class="w100">
                    <mat-label>{{ 'property.details.basement' | translate }}</mat-label>
                    <mat-select (ngModelChange)="onChange()" placeholder="Select ..." formControlName="basementType" >
						<mat-option *ngFor="let basement of basementArray" 
							[value]="basement.name">
							{{ basement.name }}
						</mat-option>
                    </mat-select> 
				</mat-form-field>

			</mat-expansion-panel>
		</mat-accordion>
	</form>

	<div *ngIf="residentialFlag">
		<div class="row-div">
			<span style="font-size: 14px;">{{ 'property.bedrooms' | translate}}</span>
			<ion-row class="room-row">
				<ion-col size="2" [ngClass]="{'activeFilter' : bedroomAny, 'room-col' : !bedroomAny}" (click)="bedroom('any')">
					{{ 'property.any' | translate }}
				</ion-col>
				<ion-col size="2" [ngClass]="{'activeFilter' : bedroom1, 'room-col' : !bedroom1}" (click)="bedroom('1')">1</ion-col>
				<ion-col size="2" [ngClass]="{'activeFilter' : bedroom2, 'room-col' : !bedroom2}" (click)="bedroom('2')">2</ion-col>
				<ion-col size="2" [ngClass]="{'activeFilter' : bedroom3, 'room-col' : !bedroom3}" (click)="bedroom('3')">3</ion-col>
				<ion-col size="2" [ngClass]="{'activeFilter' : bedroom4, 'room-col' : !bedroom4}" (click)="bedroom('4')">4</ion-col>
				<ion-col size="2" [ngClass]="{'activeFilter' : bedroom5, 'room-col' : !bedroom5}" (click)="bedroom('5')">5+</ion-col>
			</ion-row>
		</div>
		<div class="row-div">
			<span style="font-size: 14px;">{{ 'property.bathroom' | translate }}</span>
			<ion-row class="room-row">
				<ion-col size="2" [ngClass]="{'activeFilter' : bathroomAny, 'room-col' : !bathroomAny}" (click)="bathroom('any')">
					{{ 'property.any' | translate }}
				</ion-col>
				<ion-col size="2" [ngClass]="{'activeFilter' : bathroom1, 'room-col' : !bathroom1}" (click)="bathroom('1')">1+</ion-col>
				<ion-col size="2" [ngClass]="{'activeFilter' : bathroom2, 'room-col' : !bathroom2}" (click)="bathroom('2')">2+</ion-col>
				<ion-col size="2" [ngClass]="{'activeFilter' : bathroom3, 'room-col' : !bathroom3}" (click)="bathroom('3')">3+</ion-col>
				<ion-col size="2" [ngClass]="{'activeFilter' : bathroom4, 'room-col' : !bathroom4}" (click)="bathroom('4')">4+</ion-col>
				<ion-col size="2" [ngClass]="{'activeFilter' : bathroom5, 'room-col' : !bathroom5}" (click)="bathroom('5')">5+</ion-col>
			</ion-row>
		</div>
		<div class="row-div">
			<span style="font-size: 14px;">{{ 'property.garage/parking' | translate }}</span>
			<ion-row class="room-row">
				<ion-col size="2" [ngClass]="{'activeFilter' : gpAny, 'room-col' : !gpAny}" (click)="gp('any')">
					{{ 'property.any' | translate }}
				</ion-col>
				<ion-col size="2" [ngClass]="{'activeFilter' : gp1, 'room-col' : !gp1}" (click)="gp('1')">1+</ion-col>
				<ion-col size="2" [ngClass]="{'activeFilter' : gp2, 'room-col' : !gp2}" (click)="gp('2')">2+</ion-col>
				<ion-col size="2" [ngClass]="{'activeFilter' : gp3, 'room-col' : !gp3}" (click)="gp('3')">3+</ion-col>
				<ion-col size="2" [ngClass]="{'activeFilter' : gp4, 'room-col' : !gp4}" (click)="gp('4')">4+</ion-col>
				<ion-col size="2" [ngClass]="{'activeFilter' : gp5, 'room-col' : !gp5}" (click)="gp('5')">5+</ion-col>
			</ion-row>
		</div>
		<div class="row-div">
			<span style="font-size: 14px;">{{ 'property.openHouse' | translate }}</span>
			<ion-row class="room-row">
				<ion-col size="3" [ngClass]="{'activeFilter' : unspecified, 'room-col' : !unspecified}" (click)="setOpenHouse('-1')">
					{{ 'property.openHouse.unspecified' | translate }}
				</ion-col>
				<ion-col size="3" [ngClass]="{'activeFilter' : today, 'room-col' : !today}" (click)="setOpenHouse('0')">
					{{ 'property.openHouse.today' | translate }}
				</ion-col>
				<ion-col size="3" [ngClass]="{'activeFilter' : tomorrow, 'room-col' : !tomorrow}" (click)="setOpenHouse('1')">
					{{ 'property.openHouse.tomorrow' | translate }}
				</ion-col>
				<ion-col size="3" [ngClass]="{'activeFilter' : sevenDays, 'room-col' : !sevenDays}" (click)="setOpenHouse('7')">
					{{ 'property.openHouse.7days' | translate }}
				</ion-col>
			</ion-row>
		</div>
	</div>

	<div>

		<div class="row-div">
			<span style="font-size: 14px;">{{ 'property.nearbySold' | translate }}</span>
			<ion-row class="room-nearby">
				<ion-col size="10" style="padding: 5px 0px;">{{ 'property.showNearbySoldText' | translate }}</ion-col>
				<ion-col size="2" style="padding: 5px 0px;">
					<ion-toggle style="zoom: 0.8;" mode="ios" checked color="danger"></ion-toggle>
				</ion-col>
			</ion-row>
		</div>

		<ion-row>
			<ion-col size="6" align="center" class="pd-0">
				<ion-button expand="full" color="danger" (click)="applyFilter(filterForm.value, true)">
					{{ 'property.apply' | translate }}
				</ion-button>
			</ion-col>
			<ion-col size="6" align="center" class="pd-0">
				<ion-button expand="full" color="dark" (click)="clearFilter()">
					{{ 'property.clear' | translate }}
				</ion-button>
			</ion-col>
		</ion-row>
	</div>
</ion-content>
