.row-div {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.pType {
    font-size: 13px;
    border: 1px solid #888;
    padding: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    display: inline-block;
}

.active-pType {
    font-size: 13px;
    padding: 5px;
    background: #e01a27;
    color: #fff;
    margin-bottom: 5px;
    margin-right: 5px;
    display: inline-block;
}

.room-row {
    font-size: 12px;
    margin-top: 5px;
}

.room-nearby {
    font-size: 14px;
}

.activeFilter {
    background: #e01a27;
    border: 1px solid #888;
    color: #fff;
    text-align: center;
}

.room-col {
    text-align: center;
    border: 1px solid #888;
}

.filter-btn {
    color: #fff;
}

.expansion-header {
    height: 10px !important;
}

.fieldformat {
    width: 50%;
}

.example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
}

.my-panel {
    background: orange;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 350px !important;
}

.mat-select-panel .mat-option {
    line-height: 2em !important;
    height: 2.5em !important;
    font-size: 13px !important;
}

.matOption {
    height: auto !important;
    font-size: 13px !important;
    line-height: 30px !important;
    border-bottom: 1px solid #ccc !important;
}