<ion-header>
	<ion-toolbar color="pmary">
		<ion-buttons slot="start">
			<ion-back-button text="" color="dark"></ion-back-button>
		</ion-buttons>
		<ion-title color="dark" class="fw400">
			Notification
		</ion-title>
	</ion-toolbar>
</ion-header>


<ion-content>
	<ion-card color="danger" class="ion-margin-top">
		<ion-card-content>
			<p class="ion-text-center text-white">No Notifications.</p>
		</ion-card-content>
	</ion-card>
</ion-content>