:host {

    .header {
        padding: 7px 14px 7px;
        flex-shrink: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .language {
        margin-top: 8px;
        line-height: 25px;
        border: 1px solid #fff;
        padding: 0 5px;
        color: #fefefe;
        cursor: pointer;
        font-size: 17px;
    }

    ion-content {
        --background: linear-gradient(-135deg, #f6f6f6, var(--ion-color-pmary));
    }

    ion-item {
        padding: 5px 0px;
        border-radius: 0;
        border-bottom: 1px dotted var(--ion-color-medium);
    }

    .toolbar-format {
        --background: #e01a27 !important;
        zoom: 0.9 !important;
        border: none;
    }

    .title-format {
        font-size: 20px;
        letter-spacing: 3px;
        flex-basis: 0;
        flex-grow: 1;
        flex-shrink: 1;
    }

    ion-card {
        border-radius: 0;
    }

    .direction-ltr {
        position: absolute;
        right: 10px;
        bottom: 5px;
    }

    .direction-rtl {
        position: absolute;
        left: 10px;
        bottom: 5px;
    }

    .saleClass {
        background: #1e88e5;
        color: #fff;
        font-weight: 500;
    }

    .soldClass {
        background: #ff9e26;
        color: #fff;
        font-weight: 500;
    }

    .leaseClass {
        background: #558b2f;
        color: #fff;
        font-weight: 500;
    }

    .priceText {
        color: #d32f2f;
    }

    .filter-btn {
        width: 75px;
        text-align: center;
    }

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        width: 100%;
        margin-bottom: 10px;
        padding: 10px 0px;
        background: #fff;
        border-bottom: 1px solid #ccc;
    }

    .option-format {
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 25%;
    }
    
    .icon-btn-format {
        padding: 10px;
        width: 45px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        margin: 10px;
    }

    .residential-btn {
        font-size: 24px;
        color: #f7a321;
    }

    .commercial-btn {
        font-size: 24px;
        color: #000;
    }

    .sale-btn {
        font-size: 24px;
        color: #1e88e5;
    }

    .lease-btn {
        font-size: 24px;
        color: #558b2f;
    }

    .sale-border {
        border: 1px solid #1e88e5;
    }

    .lease-border {
        border: 1px solid #558b2f;
    }

    .residential-border {
        border: 1px solid #f7a321;
    }

    .commercial-border {
        border: 1px solid #000;
    }
}

.mg-bt {
    margin-bottom: 1%;
    box-shadow: 0 3px 4px rgba(var(--ion-color-dark-rgb), 0.24);
}


.heart-format {
    margin-top: 2%;
    text-align: center;
}

.col-left-border {
    border-left: 1px solid #d7d7d7;
}

.font-s12 {
    font-size: 12px;
    color: #424242;
}

.pd-0 {
    padding: 2px 5px 2px 5px !important;
}

.toolbar-border {
    border-top: 1px solid #ccc;
}

.fl-rt {
    float: right;
}

.tumbnail-view {
    height: 100px;
    width: 100px;

    img {
        border-radius: 5px;
        height: 100px;
        width: 100px;
    }
}

.price-format {
    font-size: 16px;
    margin: 5px 0px;
}

.p-type {
    display: inline-block;
    justify-content: center;
    align-items: center;
    border: 1px solid #009cff;
    padding: 1px 4px;
    font-size: 15px;
    background-color: #e1f3ff;
    color: #009cff;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 0px;
}

.mt-0 {
    margin-top: 0px;
}

.btn-more {
    color: #fff;
}

.bg-gray {
    background: #e0e0e0;
}

.matOption {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 8px 6px 8px 0px;
    height: auto !important;
    font-size: 14px !important;
    line-height: 25px !important;
    border-bottom: 1px solid #ccc !important;

    .p-address {
        display: flex;
        margin: 0px;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-start;

        .address-format {
            white-space: normal;
            color: #333;
        }

        .span-price {
            color: #ff5b29;
            margin-left: .5em;
        }
    }

    .p-secondary {
        margin: 0px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-start;

        .span-type {
            margin-left: .5em;
            color: #333;
            font-weight: 600;
        }
    }

    .p-tertiary {
        margin: 0px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-start;

        .span-listing {
            color: #999;
            font-size: 13px;
            white-space: normal;
        }

        .event {
            color: #333;
            font-weight: 600;
        }
    }
}

.login-btn {
    position: absolute;
    z-index: 999;
    text-transform: capitalize;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    --border-radius: 0px !important;
}

.pos {
    position: relative;
}

.login-required {
    filter: blur(5px);
    pointer-events: none;
}
