<ion-header>
	<ion-toolbar class="toolbar-format">
		<div class="header">
			<div style="flex-grow: 1;">
				<img class="logo-image" src="assets/img/poshlife.png">
			</div>
			<div class="language" (click)="language()">{{ 'app.language' | translate }}</div>
		</div>
	</ion-toolbar>
	<ion-toolbar id="home-result" class="toolbar-border toolbar-format">
		<form [formGroup]="searchForm">
			<mat-form-field appearance="outline" class="w100" style="margin-left: 5px;">
				<input matInput placeholder="{{'searchPlaceholder' | translate }}" formControlName="myControl"
					[matAutocomplete]="auto" (keyup)="searchProperty()" [(ngModel)]="searchText">
				<mat-icon matPrefix>search</mat-icon>
				<mat-icon matSuffix *ngIf="searchText" (click)="searchText = ''">close</mat-icon>
				<mat-autocomplete #auto="matAutocomplete">
					<mat-option style="font-size: 13px !important;" *ngIf="isLoading" class="is-loading">
						{{ 'loading' | translate }}</mat-option>
					<ng-container *ngIf="!isLoading">
						<mat-optgroup *ngFor="let group of searchValues" [label]="group.name">
							<mat-option class="matOption" *ngFor="let option of group.data" [value]="option.address">
								<span *ngIf="group.name === 'Listing'" routerLink="/property-detail/{{option.id}}">
									<p class="p-address">
										<span class="address-format">
											<span *ngIf="option.aptUnit">
												{{ option.aptUnit }}-
											</span>
											{{ option.address }}<br>
											{{ option.municipality }} - {{ option.community }}
										</span>
										<span class="span-price">
											<span *ngIf="option.event === 'Sold' || option.event === 'Terminated'"
												style="text-decoration: line-through;">
												$ {{ option.listPrice | number:'1.0':'en-US' }}
											</span>
											<span *ngIf="option.event !== 'Sold' && option.event !== 'Terminated'">
												$ {{ option.listPrice | number:'1.0':'en-US' }}
											</span>
										</span>
									</p>
									<p class="p-secondary">
										<span style="white-space: normal;">
											<span *ngIf="!option.bedroomsPlus">
												{{ option.bedrooms }} {{ 'property.bedrooms' | translate }},
											</span>
											<span *ngIf="option.bedroomsPlus">
												{{ option.bedrooms }}+{{ option.bedroomsPlus }} {{ 'property.bedrooms' | translate }},
											</span>
											{{ option.washrooms }} {{ 'property.bathroom' | translate }},
											{{ option.garageSpaces }} {{ 'property.garage' | translate }}
										</span>
										<span class="span-type">
											{{ option.type }}
										</span>
									</p>
									<p class="p-tertiary">
										<span class="span-listing">
											Listing Date: {{option.listingEntryDate | date:'yyyy-MM-dd'}}
										</span>
										<span class="event">
											[{{ option.event }}]
										</span>
									</p>
								</span>
								
								<span *ngIf="group.name === 'Locations'"
									style="white-space: normal;"
									(click)="redirectToMap(option.data)">
									{{ option.locationSearch }}
								</span>
							</mat-option>
						</mat-optgroup>
					</ng-container>
				</mat-autocomplete>
			</mat-form-field>
		</form>
		<div slot="end" class="filter-btn" (click)="searchFilter()">
			<mat-icon class="text-white">filter_alt</mat-icon><br>
			<span class="text-white">{{ 'app.filter' | translate }}</span>
		</div>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="nav">
		<div class="option-format" (click)="goToMap('residentialSale')">
			<div class="icon-btn-format residential-border">
				<ion-icon name="home" class="residential-btn"></ion-icon>
			</div>
			<span style="font-size: 13px;" align="center">{{ 'property.residentialSale&Sold' | translate }}</span>
		</div>

		<div class="option-format" (click)="goToMap('residentialLease')">
			<div class="icon-btn-format commercial-border">
				<ion-icon name="map" class="commercial-btn"></ion-icon>
			</div>
			<span style="font-size: 13px;" align="center">{{ 'property.residentialLease' | translate }}</span>
		</div>
		<div class="option-format" (click)="goToMap('commercialSale')">
			<div class="icon-btn-format sale-border">
				<ion-icon name="business" class="sale-btn"></ion-icon>
			</div>
			<span style="font-size: 13px;" align="center">{{ 'property.commercialSale&Sold' | translate }}</span>
		</div>
		<div class="option-format" (click)="goToMap('commercialLease')">
			<div class="icon-btn-format lease-border">
				<ion-icon name="paper-plane" class="lease-btn"></ion-icon>
			</div>
			<span style="font-size: 13px;" align="center">{{ 'property.commercialLease' | translate }}</span>
		</div>
	</div>

	<ion-card *ngIf="properties?.length === 0" color="danger" class="ion-margin-top">
		<ion-card-content>
			<p class="ion-text-center text-white">{{ 'property.noPropertiesFound' | translate }}</p>
		</ion-card-content>
	</ion-card>

	<ion-grid class="ion-no-padding bg-gray" style="border-top: 1px solid #ccc" fixed>
		<div class="ion-no-margin" [@staggerIn]="properties">
			<!-- # -->
			<div class="bg-white mg-bt pos" *ngFor="let property of properties">
				<ion-button *ngIf="loginFlag" color="danger" routerLink="/login" class="login-btn">
					{{ 'app.loginRequired' | translate }}</ion-button>
				<div [ngClass]="{'login-required': loginFlag === true}">
					<ion-item lines="none" tappable routerLink="/property-detail/{{property.id}}">
						<ion-thumbnail class="tumbnail-view" slot="start">
							<span *ngIf="property.propertyImage">
								<img src="{{property.propertyImage}}">
							</span>
						</ion-thumbnail>
						<ion-badge class="fl-rt leaseClass" slot="end"
							[ngClass]="{'direction-ltr' : !isArabic, 'direction-rtl' : isArabic}"
							*ngIf="property.soldPrice === 0 && property.saleLease === 'Lease'">
							<ion-text color="light">{{ property.saleLease }}</ion-text>
						</ion-badge>

						<ion-badge class="fl-rt saleClass" slot="end"
							[ngClass]="{'direction-ltr' : !isArabic, 'direction-rtl' : isArabic}"
							*ngIf="property.soldPrice === 0 && property.saleLease === 'Sale'">
							<ion-text color="light">{{ property.saleLease }}</ion-text>
						</ion-badge>

						<ion-badge class="fl-rt soldClass" slot="end" *ngIf="property.soldPrice !== 0"
							[ngClass]="{'direction-ltr' : !isArabic, 'direction-rtl' : isArabic}">
							<ion-text color="light">{{ 'property.sold' | translate }}</ion-text>
						</ion-badge>
						
						<ion-label>

							<ion-text color="dark1">{{ property.address }}</ion-text>
							

							<p class="text-12x">
								<ion-text color="dark">{{ property.area }}</ion-text>
							</p>

							<p *ngIf="property.soldPrice === 0" class="price-format">
								{{ 'property.listed' | translate }}:
								<ion-text class="priceText" *ngIf="property.saleLease == 'Sale'">
									${{ property.listPrice | number:'1.0':'en-US' }}
								</ion-text>
								<ion-text class="priceText" *ngIf="property.saleLease == 'Lease'">
									${{ property.listPrice | number:'1.0':'en-US' }} /month
								</ion-text>
							</p>

							<p *ngIf="property.soldPrice !== 0" class="price-format">
								{{ 'property.soldFor' | translate }}:
								<ion-text class="priceText">
									${{ property.soldPrice | number:'1.0':'en-US' }}
								</ion-text>
							</p>

							<p class="p-type">
								{{  property.type }}
							</p>

							<p *ngIf="property.soldPrice === 0">
								{{ 'property.listedIn' | translate }}:
								<ion-text>
									{{ property.listingEntryDate | date }}
								</ion-text>
							</p>

							<p *ngIf="property.soldPrice !== 0">
								{{ 'property.soldDate' | translate }}:
								<ion-text>
									{{ property.soldDate | date }}
								</ion-text>
							</p>
						</ion-label>
					</ion-item>
					<ion-footer class="footer-format">
						<ion-row>
							<ion-col class="pd-0" size="10">
								<ion-row class="font-s12">
									<ion-col class="pd-0" size="3">{{ 'property.MLS' | translate }}</ion-col>
									<ion-col size="3" class="col-left-border pd-0">
										{{ 'property.bed' | translate }}
									</ion-col>
									<ion-col size="4" class="col-left-border pd-0">
										{{ 'property.bath' | translate }}
									</ion-col>
								</ion-row>
								<ion-row class="font-s12">
									<ion-col class="pd-0" size="3">{{ property.mls }}</ion-col>
									<ion-col size="3" class="col-left-border pd-0">{{ property.bedrooms }}</ion-col>
									<ion-col size="4" class="col-left-border pd-0">{{ property.washrooms }}</ion-col>
								</ion-row>
							</ion-col>
							<ion-col size="2" class="heart-format pd-0">
								<ion-icon *ngIf="property.favorite" name="heart" color="danger"></ion-icon>
							</ion-col>
						</ion-row>
					</ion-footer>
				</div>
			</div>
			<!-- # -->
		</div>
	</ion-grid>

	<ion-button *ngIf="properties?.length !== 0 && moreResults" class="btn-more ion-margin" expand="full" color="danger"
		(click)="moreProperties()">
		{{ 'app.moreResults' | translate }}
	</ion-button>
</ion-content>

<ion-footer class="animated fadeIn">
	<ion-toolbar color="pmary">
		<ion-grid class="ion-no-padding">
			<ion-row>
				<ion-col size="3" class="ion-no-padding" align="center" (click)="redirectToMap('address')">
					<ion-button style="height: 20px;" expand="full" fill="clear" color="dark">
						<ion-icon name="map"></ion-icon>
					</ion-button>
					<span style="font-size: 12px;">{{ 'app.map' | translate }}</span>
				</ion-col>

				<ion-col size="3" class="ion-no-padding" align="center" routerLink="/favorites">
					<ion-button style="height: 20px;" expand="full" fill="clear" color="dark">
						<mat-icon>star_border</mat-icon>
					</ion-button>
					<span style="font-size: 12px;">{{ 'app.watched' | translate }}</span>
				</ion-col>

				<ion-col *ngIf="!profileView" size="3" class="ion-no-padding" align="center" routerLink="/edit-profile">
					<ion-button style="height: 20px;" expand="full" fill="clear" color="dark">
						<mat-icon>person_outline</mat-icon>
					</ion-button>
					<span style="font-size: 12px;">{{ 'app.profile' | translate }}</span>
				</ion-col>

				<ion-col *ngIf="profileView" size="3" class="ion-no-padding" align="center" routerLink="/login">
					<ion-button style="height: 20px;" expand="full" fill="clear" color="dark">
						<mat-icon>person_outline</mat-icon>
					</ion-button>
					<span style="font-size: 12px;">{{ 'app.profile' | translate }}</span>
				</ion-col>

				<ion-col size="3" class="ion-no-padding" align="center">
					<ion-button ion-button menuToggle="right" style="height: 20px;" expand="full" fill="clear"
						color="dark">
						<ion-menu-button color="dark">
							<mat-icon>reorder</mat-icon>
						</ion-menu-button>
					</ion-button>
					<span style="font-size: 12px;">{{ 'app.menu' | translate }}</span>
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-toolbar>
</ion-footer>