.matOption {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 8px 6px 8px 0px;
    height: auto !important;
    font-size: 14px !important;
    line-height: 25px !important;
    border-bottom: 1px solid #ccc !important;

    .p-address {
        display: flex;
        margin: 0px;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-start;

        .address-format {
            white-space: normal;
            color: #333;
        }

        .span-price {
            color: #ff5b29;
            margin-left: .5em;
        }
    }

    .p-secondary {
        margin: 0px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-start;

        .span-type {
            margin-left: .5em;
            color: #333;
            font-weight: 600;
        }
    }

    .p-tertiary {
        margin: 0px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-start;

        .span-listing {
            color: #999;
            font-size: 13px;
            white-space: normal;
        }

        .event {
            color: #333;
            font-weight: 600;
        }
    }
}

.toolbar-format {
    --background: #e01a27 !important;
    zoom: 0.9 !important;
    border: none;
}

.title-format {
    font-size: 18px;
    letter-spacing: 3px;
}

.filter-btn {
    width: 75px;
    text-align: center;
}

ion-content {
    border-bottom: 6px solid;
    border-top: 3px solid;
}

.saleLeaseFormat {
    display: inline-flex;
    padding: 5px 10px;
}

.saleActive {
    background: #1e88e5;
    color: #fff;
    border: none;
}

.leaseActive {
    background: #558b2f;
    color: #fff;
    border: none;
}

.inactive-btn {
    background: #fff;
    color: #333;
    border: 1px solid #ccc;
}

.saleLeaseButton {
    height: 25px;
    padding: 0px 10px;
    box-shadow: none;
    border-radius: 5px;
    pointer-events: auto;
    font-weight: 600;
    font-family: 'Montserrat';
    margin-right: 4%;
}

.satelliteFormat {
    --background: #fff;
    --color: #000;
    height: 25px;
    box-shadow: none;
    border-radius: 5px;
    pointer-events: auto;
    font-weight: 600;
    font-family: 'Montserrat';
    font-size: 12px;
    text-transform: capitalize;
}

.schoolFormat {
    height: 25px;
    box-shadow: none;
    border-radius: 5px;
    pointer-events: auto;
    font-weight: 600;
    font-family: 'Montserrat';
    font-size: 12px;
    text-transform: capitalize;
}

.school-popover {
    left: 100px;
    top: 42px;
    position: absolute;
    pointer-events: auto;
    width: 210px;
    padding: 0 12px 12px;
    border: 1px solid #ebeef5;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
    background-color: #fff;
    font-family: 'Montserrat';
}

.school-popover::before {
    content: "";
    z-index: 10;
    top: -5px;
    width: 20px;
    height: 20px;
    background-color: inherit;
    transform: rotate(45deg);
    position: absolute;
}

.show-school-div {
    display: inline-flex;
    align-items: center;
}

.school-title {
    font-size: 14px;
}

.school-toggle {
    position: absolute;
    right: 5px;
    zoom: 0.7;
}

.chk {
    position: absolute;
}

.chk-title {
    margin-left: 30px;
    font-size: 14px;
}

.bottom-div {
    margin: 20px 15px;
    display: inline-flex;
}

.residentialActive {
    background: #000;
    color: #fff;
    border: none;
}

.commercialActive {
    background: #3f51b5;
    color: #fff;
    border: none;
}

.resiCommer {
    font-weight: 600;
    font-family: 'Montserrat';
    height: 25px;
    padding: 0px 10px;
    pointer-events: auto;
    margin-right: 2%;
    box-shadow: none;
    border-radius: 5px;
}