:host {
    ion-content {
        --background: linear-gradient(-135deg, #f6f6f6, var(--ion-color-pmary));
        // --background: var(--ion-color-light);
    }

    ion-item {
        border-radius: 0;
        border-bottom: 1px dotted var(--ion-color-medium);
    }

    ion-card {
        border-radius: 0;
    }
}

.header-info {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 35px;
    border-bottom: 1px solid #d8d8d8;
    padding: 5px 40px;
    line-height: 18px;
    text-align: center;
    background-color: #f6f6f6;
}

.total-listing {
    font-size: 16px;
    color: #333;
}

.close-icon {
    position: absolute;
    right: 5px;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 100%;
    font-size: 20px;
    cursor: pointer;
}

.mg-bt {
    box-shadow: 0 3px 4px rgba(var(--ion-color-dark-rgb), 0.24);
}

.saleClass {
    background: #1e88e5;
    color: #fff;
    font-weight: 500;
}

.soldClass {
    background: #ff9e26;
    color: #fff;
    font-weight: 500;
}

.leaseClass {
    background: #558b2f;
    color: #fff;
    font-weight: 500;
}

.footer-format {
    margin: 0px 10px;
}

.heart-format {
    margin-top: 2%;
    text-align: center;
}

.col-left-border {
    border-left: 1px solid #d7d7d7;
}

.font-s12 {
    font-size: 12px;
    color: #424242;
}

.pd-0 {
    padding: 2px 5px 2px 5px !important;
}

.toolbar-border {
    border-top: 1px solid #ccc;
}

.fl-rt {
    float: right;
}

.tumbnail-view {
    height: 80px;
    width: 80px;

    img {
        border-radius: 5px;
    }
}

.price-format {
    font-size: 16px;
    margin: 5px 0px 0px;
}

.priceText {
    color: #d32f2f;
}

.mt-0 {
    margin-top: 0px;
}

.bg-gray {
    background: #e0e0e0;
}

.login-btn {
    position: absolute;
    z-index: 999;
    text-transform: capitalize;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    --border-radius: 0px !important;
}

.pos {
    position: relative;
    max-height: 47vh;
    overflow-y: auto;
}

.login-required {
    filter: blur(5px);
    pointer-events: none;
}

.popup-listing {
    width: 100%;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
}

.header {
    display: flex;
    align-items: center;
    padding: 0 4px;
    width: 100%;
}

.photo {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 112px;
    min-height: 112px;
    margin: 4px 0 0 4px;
}

.photo-container {
    width: 112px;
    height: 84px;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}

.main {
    display: flex;
    flex-direction: column;
    margin: 4px 4px 0 8px;
    width: calc(100% - 128px);
    min-height: 112px;
    font-size: 15px;
}

.p-type {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #009cff;
    padding: 1px 4px;
    font-size: 15px;
    background-color: #e1f3ff;
    color: #009cff;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 0px;
}

.prop-image {
    width: 112px;
    height: 100px;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}