<ion-header>
    <ion-toolbar color="pmary">
        <ion-buttons slot="start">
            <ion-button color="primary" (click)="closeModal()">
                <ion-icon name="close" color="dark"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title color="dark" class="fw400">
            {{ 'blog.blogInfo' | translate }}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="bg-white">
        <div *ngIf="blog.blogImage">
            <img src="{{imageUrl}}{{blog.blogImage}}">
        </div>
        <div class="ion-padding">
            <h4 class="blog-title">{{ blog.title }}</h4>
            <span style="margin-bottom: 10px; display: flex;" color="dark">By {{ blog.createdBy }}</span>
            <p class="p-blog">
                {{ blog.content }}
            </p>
        </div>
    </ion-card>
</ion-content>