ion-content {
    .inner-scroll {
      padding: 5px !important;
    }
}

.blog-title {
    white-space: initial;
    color: #000;
    font-weight: 100;
    margin-top: 0px;
}

.p-blog {
    margin: 0 0 10px;
    font-weight: 100 !important;
    line-height: 1.7em;
    font-size: 15px;
    color: #3a3a3a;
}

ion-card {
    margin: 1px 0px;
}