<ion-list class="ion-no-margin ion-no-padding">
	<ion-list-header color="dark">
		<ion-label class="fw400">Notifications</ion-label>
	</ion-list-header>

	<ion-item tappable *ngFor="let message of messages" (click)="close()">
		<ion-label>
			<h2 [ngClass]="{'fw500 text-white': !message.read}">
				<ion-icon name="mail" slot="start" color="dark" *ngIf="!message.read"></ion-icon>
				<ion-icon name="mail-open" slot="start" color="dark" *ngIf="message.read"></ion-icon>
				<ion-text color="dark">{{message.title}}</ion-text>
			</h2>
			<p [ngClass]="{'text-light': !message.read}">
				<ion-text color="dark">{{message.senderName}} ∙ {{message.date | date: 'MM/dd/yyyy'}}</ion-text>
			</p>
		</ion-label>
	</ion-item>

</ion-list>