<ion-content class="ion-padding animated fadeIn login">
	<!-- Logo -->
	<div class="animated fadeInDown ion-text-center ion-padding-horizontal">
		<div class="login-logo"></div>
	</div>

	<!-- Login form -->
	<div class="title">{{ 'app.login' | translate }}</div>

	<form id="login" [formGroup]="onLoginForm" (ngSubmit)="login(onLoginForm.value)">

		<mat-form-field appearance="outline" class="fieldFormat">
			<mat-label>{{ 'login.email' | translate }}</mat-label>
			<input matInput type="email" autocomplete="off" required formControlName="email">
			<mat-icon matSuffix>mail_outline</mat-icon>
		</mat-form-field>

		<mat-form-field appearance="outline" class="fieldFormat">
			<mat-label>{{ 'login.password' | translate }}</mat-label>
			<input matInput type="password" autocomplete="off" required formControlName="password">
			<mat-icon matSuffix>vpn_key</mat-icon>
		</mat-form-field>

		<div class="remember-forgot-password">
			<a class="forgot-password" (click)="forgotPassword()">
				{{ 'login.forgotPassword' | translate }}
			</a>
		</div>

		<ion-button type="submit" class="submit-btn" color="danger" [disabled]="onLoginForm.invalid">
			{{ 'login.login' | translate }}
		</ion-button>

		<div class="or-format">-- {{ 'register.or' | translate }} --</div>

		<ion-button type="button" class="google-btn">
			{{ 'login.loginWithGoogle' | translate }}
		</ion-button>

		<ion-button type="button" class="fb-btn" (click)="loginWithFacebok()">
			{{ 'login.loginWithFacebook' | translate }}
		</ion-button>

		<div class="remember-forgot-password">
			<a class="forgot-password" (click)="signUpPage()">
				{{ 'login.newUser' | translate }}
			</a>
		</div>

	</form>
</ion-content>