<ion-app>
	<ion-split-pane contentId="menu-content">
		<ion-menu contentId="menu-content">
			<ion-header>				
				<ion-toolbar *ngIf="!loginFlag" color="pmary" class="user-profile">
					<ion-item lines="none">
						<ion-avatar slot="start" class="user-avatar">
							<img *ngIf="!image" src="assets/img/avatar.png">
        					<img *ngIf="image" src="{{image}}" >
						</ion-avatar>
						<ion-label>
							<ion-text color="dark">
								<h2 style="text-transform: capitalize;">{{ userName }}</h2>
							</ion-text>
						</ion-label>
					</ion-item>
				</ion-toolbar>

				<ion-toolbar *ngIf="loginFlag" style="padding: 0% 5%;" routerLink="/login">
					<ion-label>
						<h2 style="cursor: pointer;"><a>Login</a></h2>
					</ion-label>
				</ion-toolbar>

				<ion-fab *ngIf="!loginFlag" vertical="center" horizontal="end">
					<ion-fab-button size="small" color="dark">
						<ion-icon name="apps"></ion-icon>
					</ion-fab-button>
					<ion-fab-list side="bottom">
						<ion-fab-button size="small" color="secondary" routerLink="/edit-profile"
							routerDirection="forward" (click)="closeMenu()">
							<ion-icon name="contact"></ion-icon>
						</ion-fab-button>
						<ion-fab-button size="small" color="danger" (click)="closeMenu(); login()">
							<ion-icon name="log-out"></ion-icon>
						</ion-fab-button>
					</ion-fab-list>
				</ion-fab>
			</ion-header>

			<ion-content class="bg-profile">
				<ion-list>
					<ion-list-header color="danger" class="menu-format">
						<ion-label class="menusize">{{ 'app.menu' | translate }}</ion-label>
					</ion-list-header>

					<ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
						<ion-item tappable [routerLink]="p.url" [routerDirection]="p.direct" color="pmary">
							<ion-icon slot="start" [name]="p.icon" style="font-size: 20px; margin-inline-end: 20px;"></ion-icon>
							<ion-label class="label-format">{{ p.title }}</ion-label>
						</ion-item>
					</ion-menu-toggle>
				</ion-list>
			</ion-content>
		</ion-menu>
		<ion-router-outlet id="menu-content"></ion-router-outlet>
	</ion-split-pane>
</ion-app>
