:host {
    ion-content {
        --background: linear-gradient(135deg, #f6f6f6, var(--ion-color-pmary));
    }

    ion-list {
        &.list-md {
            padding: 0;
        }
    }

    ion-item {
        font-size: 15px;
    }
}

.menu-format {
    color: #fff;
}

.native-input.sc-ion-input-ios {
    color: black !important;
}

.label-format {
    color: #101010;
}
