:host {
    ion-content {
        text-align: center !important;
        padding: 24px !important;
    }

    form {
        width: 100%;
        padding-top: 32px;
        font-size: 14px;
    }
}

.login-logo {
    height: 120px;
    width: 128px;
    margin: 32px auto;
    background: url("/assets/img/logo.png") no-repeat;
    background-size: 100%;
}

.title {
    font-size: 21px;
    text-align: center ;
    font-weight: 400 !important;
}

.fieldFormat {
    width: 90%;
}

.loginLink {
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 5px;
    color: #039be5;
}

.submit-btn {
    width: 80%;
}

.fb-btn {
    text-transform: inherit;
    --background: #3f5c9a;
    font-size: 13px;
    margin: auto;
    margin-bottom: 15px;
    display: flex;
    width: 70%;
    letter-spacing: 0px;
}

.google-btn {
    text-transform: inherit;
    --background: #d73d32;
    font-size: 13px;
    margin: auto;
    margin-bottom: 7px;
    display: flex;
    width: 70%;
    letter-spacing: 0px;
}

.or-format {
    color: #888;
    font-weight: 500;
    margin: 10px;
}

.already-account {
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content: center;
    align-items: center;
}