<ion-header [ngClass]="{'login-required': loginFlag === true}">
	<ion-toolbar class="toolbar-format">
		<ion-buttons slot="start" style="margin-top: 5px;">
			<ion-back-button text="" style="color: #fff;"></ion-back-button>
		</ion-buttons>
		<div style="padding: 0px 10px;">
			<img class="logo-image" src="assets/img/poshlife.png">
		</div>
		<!-- <ion-buttons slot="end">
			<ion-button size="small" shape="round" (click)="share()">
				<ion-icon name="share" style="color: #fff;"></ion-icon>
			</ion-button>
		</ion-buttons> -->
	</ion-toolbar>
</ion-header>

<ion-content [ngClass]="{'login-required': loginFlag === true}">
	<div style="background: #efefef;" *ngIf="property">
		<div class="photo" [style.background-image]="'url('+property.propertyImage[0]+')'">
			<div class="photo-button" (click)="presentImage(property.propertyImage)">
				<p class="view-image">{{ 'property.details.viewImages' | translate }} ({{ property.propertyImage.length }})</p>
			</div>
			<div class="meta">
				<p class="property-title">
					<span *ngIf="property.aptUnit">Unit {{ property.aptUnit }} - </span>
					{{ property.address }}
				</p>
				<p class="property-title">{{ property.community }} - {{ property.municipality }}</p>
			</div>
		</div>

		<ion-card class="bg-white">
			<div class="listed-format">
				<p class="p-listing">
					<span style="margin-right: 5PX;">{{ 'property.listed' | translate }}:</span>
					<!-- CHECK PROPERTY TERMINATED OR NOT-->
					<span *ngIf="property.event !== 'Terminated'">
						<span *ngIf="property.saleLease == 'Sale'"
							[ngStyle]="property.soldPrice ? {'text-decoration': 'line-through'} : {'text-decoration': 'none'}"
							style="color: #ff5b29;">
							${{ property.listPrice | number:'1.0':'en-US'}}
						</span>
						<span *ngIf="property.saleLease == 'Lease'" style="color: #558b2f;">
							${{ property.listPrice | number:'1.0':'en-US'}} /month
						</span>
					</span>
					<!-- CHECK PROPERTY TERMINATED OR NOT-->
					<span *ngIf="property.event === 'Terminated'">
						<span *ngIf="property.saleLease == 'Sale'"
							[ngStyle]="property.event ? {'text-decoration': 'line-through'} : {'text-decoration': 'none'}">
							${{ property.listPrice | number:'1.0':'en-US'}}
						</span>
						<span *ngIf="property.saleLease == 'Lease'"
						[ngStyle]="property.event ? {'text-decoration': 'line-through'} : {'text-decoration': 'none'}">
							${{ property.listPrice | number:'1.0':'en-US'}} /month
						</span>
						<p class="p-termination">Terminated {{ terminationDate }} days ago</p>
					</span>
				</p>
				<span *ngIf="property.event !== 'Terminated'">
					<p class="saleClass"
						*ngIf="property.soldPrice === 0 && property.saleLease === 'Sale'">
						{{ property.saleLease }}
					</p>
					<p class="leaseClass"
						*ngIf="property.soldPrice === 0 && property.saleLease === 'Lease'">
						{{ property.saleLease }}
					</p>
					<p class="soldClass"
						*ngIf="property.soldPrice !== 0">
						{{ 'property.sold' | translate }}
					</p>
				</span>
			</div>
			<div class="listed-format">
				<p class="p-type">{{ property.type }}</p>
				<p class="p-listing-date">
					{{ 'property.listedIn' | translate }} {{ property.listingEntryDate | date}}
				</p>
			</div>
			<div *ngIf="property.soldPrice" class="listed-format">
				<p class="p-estimate">
					<span style="margin-right: 5PX;">{{ 'property.soldFor' | translate }}:</span>
					<span style="color: #ff5b29;">${{ property.soldPrice | number:'1.0':'en-US'}}</span>
				</p>
				<p class="p-listing-date">
					{{ 'property.soldDate' | translate }} {{ property.soldDate | date }}
				</p>
			</div>

			<hr style="background: #eee;">

			<div class="ion-margin-top">
				<div *ngIf="property.propertyType === 'residential'" style="display: flex;">
					<div class="dd">
						<img style="width: 36px;" src="assets/img/bedrooms.svg">
						<p *ngIf="!property.bedroomsPlus">
							{{ property.bedrooms }} {{ 'property.bedrooms' | translate }}
						</p>
						<p *ngIf="property.bedroomsPlus">
							{{ property.bedrooms }} + {{ property.bedroomsPlus }} {{ 'property.bedrooms' | translate }}
						</p>
					</div>
					<div class="dd">
						<img style="width: 36px;" src="assets/img/bathrooms.svg">
						<p>{{ property.washrooms }} {{ 'property.bathroom' | translate }}</p>
					</div>
					<div class="dd">
						<img style="width: 36px;" src="assets/img/parking.svg">
						<p>{{ property.garageSpaces }} {{ 'property.parking' | translate }}</p>
					</div>
				</div>
			</div>
			<hr style="background: #eee;">
			<div class="listed-format">
				<p class="p-listing">{{ 'property.history' | translate }}</p>
				<p>{{'property.buyOrSaleHistory' | translate }} 
					<span *ngIf="property.aptUnit">Unit {{ property.aptUnit }} - </span>
					{{ property.address }}, {{ property.municipality }} ({{property.type}})</p>
			</div>
			<div *ngFor="let history of property.listingHistory">
				<div class="property-history">
					<p class="history-price">
						<span *ngIf="property.soldPrice === 0" class="leasePrice">
							${{ history.listPrice | number:'1.0':'en-US' }}
						</span>
						<span *ngIf="property.soldPrice !== 0" class="leasePrice">
							${{ history.soldPrice | number:'1.0':'en-US' }}
						</span>
						<span class="saleLeaseBadge">{{ history.event }}</span>
					</p>
					<ion-button *ngIf="history.mls !== property.mls"
						type="button" size="small"
						color="danger" class="btn-view" 
						(click)="viewHistoryProperty(history.id)">
						View
					</ion-button>
					<p *ngIf="history.event !== 'Terminated'" class="p-list-date">
						List: {{ history.listingEntryDate | date }} | End: {{ history.expiryDate | date }}
					</p>
					<p *ngIf="history.event === 'Terminated'" class="p-list-date">
						List: {{ history.listingEntryDate | date:'yyyy-MM-dd' }} | End: {{ history.terminatedDate | date:'yyyy-MM-dd' }}
					</p>
					<p class="p-mls">{{ history.mls }}</p>
				</div>
			</div>
		</ion-card>

		<ion-card class="bg-white">
			<div class="section-nearby">
				<ion-button class="nearby-btn" type="button" 
					size="medium" 
					color="danger"
					(click)="nearbySoldAndLease('sold')">
					{{ 'property.nearbySold' | translate }}
				</ion-button>
				<ion-button class="nearby-btn" type="button" 
					size="medium" 
					color="danger"
					(click)="nearbySoldAndLease('lease')">
					{{ 'property.nearbyLease' | translate }}
				</ion-button>
			</div>
			<div id="propertyMap" style="width: 100%; height: 260px;"></div>
			
			<ion-card-content>
				<h3 class="ion-text-center">
					<ion-text color="dark">
						{{property.address}} • {{property.streetName}} - {{property.municipality}}
					</ion-text>
				</h3>
			</ion-card-content>
		</ion-card>

		<ion-card class="bg-white">
			<ion-segment color="danger" [(ngModel)]="propertyopts">
				<ion-segment-button value="keyFacts">
					{{ 'property.keyFacts' | translate }}
				</ion-segment-button>
				<ion-segment-button value="details">
					{{ 'property.details' | translate }}
				</ion-segment-button>
				<ion-segment-button value="room">
					{{ 'property.rooms' | translate }}
				</ion-segment-button>
			</ion-segment>

			<div [ngSwitch]="propertyopts">
				<div *ngSwitchCase="'keyFacts'">
					<ion-grid style="padding: 10px; color: #333;">
						<ion-row>
							<ion-col size="6">{{ 'property.details.tax' | translate }}:</ion-col>
							<ion-col *ngIf="property.taxes" size="6" align="right">${{ property.taxes | number:'1.0':'en-US' }} /-</ion-col>
							<ion-col *ngIf="!property.taxes" size="6" align="right">--</ion-col>
						</ion-row>
						<ion-row>
							<ion-col size="6">{{ 'property.details.type' | translate }}:</ion-col>
							<ion-col *ngIf="property.type" size="6" align="right">{{ property.type }}</ion-col>
							<ion-col *ngIf="!property.type" size="6" align="right">--</ion-col>
						</ion-row>
						<ion-row>
							<ion-col size="6">{{ 'property.details.propertyStatus' | translate }}:</ion-col>
							<ion-col *ngIf="property.lastStatus" size="6" align="right">{{ property.lastStatus }}</ion-col>
							<ion-col *ngIf="!property.lastStatus" size="6" align="right">--</ion-col>
						</ion-row>
						<ion-row>
							<ion-col size="6">{{ 'property.details.listing' | translate }}:</ion-col>
							<ion-col *ngIf="property.mls" size="6" align="right">{{ property.mls }}</ion-col>
							<ion-col *ngIf="!property.mls" size="6" align="right">--</ion-col>
						</ion-row>
						<ion-row>
							<ion-col size="6">{{ 'property.details.dateListed' | translate }}:</ion-col>
							<ion-col *ngIf="property.listingEntryDate" size="6" align="right">{{ property.listingEntryDate | date}}</ion-col>
							<ion-col *ngIf="!property.listingEntryDate" size="6" align="right">--</ion-col>
						</ion-row>
						<ion-row>
							<ion-col size="6">{{ 'property.details.daysOnMarket' | translate }}:</ion-col>
							<ion-col *ngIf="property.daysOnMarket" size="6" align="right">{{ property.daysOnMarket }}</ion-col>
							<ion-col *ngIf="!property.daysOnMarket" size="6" align="right">--</ion-col>
						</ion-row>
						<ion-row>
							<ion-col size="6">{{ 'property.details.buildingAge' | translate }}:</ion-col>
							<ion-col *ngIf="property.approxAge" size="6" align="right">{{ property.approxAge }}</ion-col>
							<ion-col *ngIf="!property.approxAge" size="6" align="right">--</ion-col>
						</ion-row>
						<ion-row>
							<ion-col size="6">{{ 'property.details.yearBuilt' | translate }}:</ion-col>
							<ion-col *ngIf="property.contractDate" size="6" align="right">{{ property.contractDate | date }}</ion-col>
							<ion-col *ngIf="!property.contractDate" size="6" align="right">--</ion-col>
						</ion-row>
						<ion-row>
							<ion-col size="6">{{ 'property.details.basement' | translate }}:</ion-col>
							<ion-col *ngIf="property.basement1" size="6" align="right">{{ property.basement1 }}, {{property.basement2 }}</ion-col>
							<ion-col *ngIf="!property.basement1" size="6" align="right">--</ion-col>
						</ion-row>
						<ion-row>
							<ion-col size="6">{{ 'property.details.size' | translate }}:</ion-col>
							<ion-col *ngIf="property.approxSquareFootage" size="6" align="right">{{ property.approxSquareFootage }} feet²</ion-col>
							<ion-col *ngIf="!property.approxSquareFootage" size="6" align="right">--</ion-col>
						</ion-row>
						<ion-row>
							<ion-col size="6">{{ 'property.details.updatedOn' | translate }}:</ion-col>
							<ion-col *ngIf="property.updatedtimestamp" size="6" align="right">{{ property.updatedtimestamp | date }}</ion-col>
							<ion-col *ngIf="!property.updatedtimestamp" size="6" align="right">--</ion-col>
						</ion-row>
					</ion-grid>
				</div>

				<div *ngSwitchCase="'details'">
					<ion-grid style="padding: 10px; color: #333;">
						<ion-row>
							<ion-col size="6">{{ 'property.details.address' | translate }}:</ion-col>
							<ion-col *ngIf="property.address" size="6" align="right">{{ property.address}}</ion-col>
							<ion-col *ngIf="!property.address" size="6" align="right">--</ion-col>
						</ion-row>
						<ion-row>
							<ion-col size="5">{{ 'property.details.intersection' | translate }}:</ion-col>
							<ion-col *ngIf="property.directionsCrossStreets" size="7" align="right">{{ property.directionsCrossStreets}}</ion-col>
							<ion-col *ngIf="!property.directionsCrossStreets" size="7" align="right">--</ion-col>
						</ion-row>
						<ion-row>
							<ion-col size="6">{{ 'property.details.balcony' | translate }}:</ion-col>
							<ion-col *ngIf="property.balcony" size="6" align="right">{{ property.balcony }}</ion-col>
							<ion-col *ngIf="!property.balcony" size="6" align="right">--</ion-col>
						</ion-row>
						<ion-row>
							<ion-col size="6">{{ 'property.details.garageType' | translate }}:</ion-col>
							<ion-col *ngIf="property.garageType" size="6" align="right">{{ property.garageType }}</ion-col>
							<ion-col *ngIf="!property.garageType" size="6" align="right">--</ion-col>
						</ion-row>
						<ion-row>
							<ion-col size="6">{{ 'property.details.waterSupply' | translate }}:</ion-col>
							<ion-col size="6" align="right">--</ion-col>
						</ion-row>
						<ion-row>
							<ion-col size="6">{{ 'property.details.laundryAccess' | translate }}:</ion-col>
							<ion-col *ngIf="property.laundryAccess" size="6" align="right">{{ property.laundryAccess }}</ion-col>
							<ion-col *ngIf="!property.laundryAccess" size="6" align="right">--</ion-col>
						</ion-row>
						<ion-row>
							<ion-col size="6">{{ 'property.details.heatSource' | translate }}:</ion-col>
							<ion-col *ngIf="property.heatSource" size="6" align="right">{{ property.heatSource }}</ion-col>
							<ion-col *ngIf="!property.heatSource" size="6" align="right">--</ion-col>
						</ion-row>
						<ion-row>
							<ion-col size="6">{{ 'property.details.firePlace' | translate }}:</ion-col>
							<ion-col *ngIf="property.fireplaceStove" size="6" align="right">{{ property.fireplaceStove }}</ion-col>
							<ion-col *ngIf="!property.fireplaceStove" size="6" align="right">--</ion-col>
						</ion-row>
						<ion-row>
							<ion-col size="6">{{ 'property.details.sewer' | translate }}:</ion-col>
							<ion-col *ngIf="property.sewer" size="6" align="right">{{ property.sewer }}</ion-col>
							<ion-col *ngIf="!property.sewer" size="6" align="right">{{ property.sewer }}</ion-col>
						</ion-row>
						<ion-row>
							<ion-col size="6">{{ 'property.details.zoning' | translate }}:</ion-col>
							<ion-col *ngIf="property.zoning" size="6" align="right">{{ property.zoning }}</ion-col>
							<ion-col *ngIf="!property.zoning" size="6" align="right">--</ion-col>
						</ion-row>
						<ion-row>
							<ion-col size="6">{{ 'property.details.construction' | translate }}:</ion-col>
							<ion-col *ngIf="property.construction" size="6" align="right">{{ property.construction}}</ion-col>
							<ion-col *ngIf="!property.construction" size="6" align="right">--</ion-col>
						</ion-row>
						<ion-row>
							<ion-col size="6">{{ 'property.details.municipality' | translate }}:</ion-col>
							<ion-col *ngIf="property.municipality" size="6" align="right">{{ property.municipality }}</ion-col>
							<ion-col *ngIf="!property.municipality" size="6" align="right">--</ion-col>
						</ion-row>
						<ion-row>
							<ion-col size="6">{{ 'property.details.postalCode' | translate }}:</ion-col>
							<ion-col *ngIf="property.postalCode" size="6" align="right">{{ property.postalCode }}</ion-col>
							<ion-col *ngIf="!property.postalCode" size="6" align="right">--</ion-col>
						</ion-row>
						<ion-row>
							<ion-col size="6">{{ 'property.details.province' | translate }}:</ion-col>
							<ion-col *ngIf="property.province" size="6" align="right">{{ property.province }}</ion-col>
							<ion-col *ngIf="!property.province" size="6" align="right">--</ion-col>
						</ion-row>
						<ion-row>
							<ion-col size="6">{{ 'property.details.community' | translate }}:</ion-col>
							<ion-col *ngIf="property.community" size="6" align="right">{{ property.community }}</ion-col>
							<ion-col *ngIf="!property.community" size="6" align="right">--</ion-col>
						</ion-row>
						<ion-row>
							<ion-col size="12">{{ 'property.details.description' | translate }}:</ion-col>
							<ion-col *ngIf="property.remarksForClients" size="12" style="line-height: 22px;">{{ property.remarksForClients }}</ion-col>
							<ion-col *ngIf="!property.remarksForClients" size="6" align="right">--</ion-col>
						</ion-row>
						<hr style="background: #ccc;">
						<ion-row>
							<ion-col size="12">{{ 'property.details.extras' | translate }}:</ion-col>
							<ion-col *ngIf="property.extras" size="12" style="line-height: 22px;">{{ property.extras }}</ion-col>
							<ion-col *ngIf="!property.extras" size="6" align="right">--</ion-col>
						</ion-row>

					</ion-grid>
				</div>

				<div *ngSwitchCase="'room'" class="bg-white">
					<div *ngFor="let room of property?.roomDetails" class="row-room">
						<span style="font-size: 15px;">{{ room.room }}</span>
						<span style="flex: 1; margin-left: 4px; font-size: 15px;"> 
							({{ room.roomLength }} x {{ room.roomWidth }} m)
						</span>
						<span style="font-size: 15px; color: #333;">
							{{ 'property.rooms.level' | translate }}: {{ room.level.value }}
						</span>
						<span *ngIf="room.roomDesc1" class="room-desc">
							{{ room.roomDesc1 }}, 
							<span *ngIf="room.roomDesc2">
								{{ room.roomDesc2 }},
							</span> 
							{{ room.roomDesc3 }}
						</span>
					</div>
				</div>
			</div>
		</ion-card>

		<ion-card class="bg-white">
			<mat-accordion multi="true">
                <mat-expansion-panel>
                    <mat-expansion-panel-header class="expansion-header">
                        <mat-panel-title color="dark">
                            {{ 'property.features' | translate }}
                        </mat-panel-title>
					</mat-expansion-panel-header>
					<ion-item *ngFor="let feature of property?.features">
						<ion-label style="font-size: 14px;">{{ feature }}</ion-label>
						<ion-checkbox slot="end" checked="true"></ion-checkbox>
					</ion-item>
				</mat-expansion-panel>
			</mat-accordion>
		</ion-card>

		<ion-card class="bg-white">
			<mat-accordion multi="true">
                <mat-expansion-panel>
                    <mat-expansion-panel-header class="expansion-header">
                        <mat-panel-title color="dark">
                            {{ 'property.schoolsInfo' | translate }}
                        </mat-panel-title>
					</mat-expansion-panel-header>

					<div *ngFor="let school of property?.schools.results">
						<div class="section-format">
							<div class="section">
								<p class="school-name">{{ school.name }}</p>
								<p class="rating">
									<span class="actual-rating">{{ school.rating }}</span> / 5
								</p>
							</div>
							<div>
								<div *ngFor="let type of school.types" class="chip-span">{{ type }}</div>
							</div>
							<p (click)="schoolsInfo(school)" class="p-mr">
								<span class="viewDetail">{{ 'property.moreDetails' | translate }}</span>
							</p>
						</div>
					</div>
					<div align="center" *ngIf="property?.schools.results.length == 0">
						<h5 class="fw400">{{ 'property.noNearbySchools' | translate }}</h5>
					</div>
				</mat-expansion-panel>
			</mat-accordion>
		</ion-card>

		<ion-card class="bg-white" *ngIf="property.saleLease === 'Sale'">
			<form [formGroup]="mortgageForm" (ngSubmit)="onMortgageFormSubmit(mortgageForm.value)">
				<mat-accordion multi="true">
					<mat-expansion-panel>
						<mat-expansion-panel-header class="expansion-header">
							<mat-panel-title color="dark">
								{{ 'property.mortgageCalculator' | translate }}
							</mat-panel-title>
						</mat-expansion-panel-header>
						<mat-form-field appearance="outline" class="w100">
							<mat-label>
								{{ 'mortgage.principalAmount' | translate }}
							</mat-label>
							<input matInput placeholder="$" autocomplete="off" formControlName="principalAmount" type="number">
						</mat-form-field>

						<mat-form-field appearance="outline" class="w100">
							<mat-label>
								{{ 'mortgage.downPayment' | translate }}
							</mat-label>
							<input matInput placeholder="$" autocomplete="off" formControlName="downPayment" type="number">
						</mat-form-field>

						<mat-form-field appearance="outline" class="w100">
							<mat-label>
								{{ 'mortgage.interestRate' | translate }}
							</mat-label>
							<input matInput autocomplete="off" formControlName="interestRate" type="number">
							<span matSuffix>%</span>
						</mat-form-field>

						<mat-form-field appearance="outline" class="w100">
							<mat-label>
								{{ 'mortgage.period' | translate }}
							</mat-label>
							<input matInput placeholder="Number of Years" autocomplete="off" formControlName="period" type="number">                  
						</mat-form-field>

						<p *ngIf="monthlyPayment">{{ 'mortgage.monthlyPayment' | translate }}: <span style="margin-left: 10px;">${{monthlyPayment}}</span></p>
						<div align="center">
							<ion-button class="mort-btn" size="mediun" type="button" color="secondary" (click)="openPreApprovedMe()">
								{{ 'mortgage.preApprovedMe' | translate }}
							</ion-button>
							<ion-button class="mort-btn" size="mediun" type="submit" color="danger">
								{{ 'mortgage.calculateMortgate' | translate }}
							</ion-button>
						</div>
					</mat-expansion-panel>
				</mat-accordion>
			</form>
		</ion-card>

		<ion-card class="bg-white">
			<subscribe-newsletter></subscribe-newsletter>
		</ion-card>
	</div>
</ion-content>

<ion-footer class="animated fadeIn" [ngClass]="{'login-required': loginFlag === true}">
	<ion-row>
		<ion-col size="6" align="center" class="pd-0" (click)="addTofavorite()">
			<ion-button expand="full" color="danger" class="add-fav-margin">
				<mat-icon style="margin-right: 5px;">star_border</mat-icon>
				{{ 'property.addWatched' | translate }}
			</ion-button>
		</ion-col>
		<ion-col size="6" align="center" class="pd-0">
			<ion-button expand="full" color="dark" class="schedule-margin" (click)="scheduleVisit()">
				<ion-icon name="today" style="margin-right: 5px;"></ion-icon>
				{{ 'property.scheduleVisit' | translate }}
			</ion-button>
		</ion-col>
	</ion-row>
</ion-footer>