:host {

    .toolbar-format {
        --background: #e01a27 !important;
        zoom: 0.9 !important;
        border: none;
    }

    ion-content {
        --background: linear-gradient(-135deg, #f6f6f6, var(--ion-color-pmary));
    }

    ion-slides {
        box-shadow: none;
    }

    .photo {
        position: relative;
        width: 100%;
        max-height: 40vh;
        min-height: 35vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

    .photo-button {
        position: absolute;
        right: 10px;
        top: 10px;
    }

    .view-image {
        border: 1px solid #fff;
        border-radius: 2px;
        font-size: 14px;
        color: #fff;
        background-color: rgba(0,0,0,.5);
        padding: 5px;
        margin: 0px;
        height: 34px;
        display: flex;
        align-items: center;
    }

    .meta {
        position: absolute;
        z-index: 10;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 20px 52px 5px 10px;
        background: linear-gradient(180deg,transparent,rgba(0,0,0,.7),rgba(0,0,0,.8));
    }

    .property-title {
        font-size: 17px;
        color: #fff;
        margin: 2px 0px;
    }

    .listed-format {
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 10px 15px 0;
        display: flex;
        align-items: center;
    }

    .p-listing-date {
        margin: 0px;
        font-size: 15px;
    }

    .p-listing {
        font-size: 18px;
        margin-top: 0px;
        margin-bottom: 0px;
        color: #000;
    }

    .p-termination {
        font-size: 15px;
        margin-top: 5px;
        margin-bottom: 0px;
        color: #444;
    }

    .p-estimate {
        font-size: 16px;
        color: #000;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .p-type {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #009cff;
        padding: 1px 4px;
        font-size: 15px;
        background-color: #e1f3ff;
        color: #009cff;
        font-weight: 400;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .saleClass {
        background: #1e88e5;
        color: #fff;
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1px 4px;
        font-size: 15px;
        margin-top: 0px;
        border-radius: 5px;
        margin-bottom: 0px;
    }

    .soldClass {
        background: #ff9e26;
        color: #fff;
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1px 4px;
        font-size: 15px;
        margin-top: 0px;
        border-radius: 5px;
        margin-bottom: 0px;
    }

    .leaseClass {
        background: #558b2f;
        color: #fff;
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1px 4px;
        font-size: 15px;
        margin-top: 0px;
        border-radius: 5px;
        margin-bottom: 0px;
    }

    .dd {
        position: relative;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        display: flex;
        margin: auto;
    }

    .property-history {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        border-top: 1px solid #eee;
        padding: 10px 10px;
        overflow: hidden;
    }

    .history-price {
        align-self: center;
        display: flex;
        align-items: center;
        margin-right: 4px;
        margin-top: 0px;
        margin-bottom: 0px;
        width: calc(100% - 70px);
    }

    .btn-view {
        align-self: center;
        text-transform: capitalize;
        --border-radius: 0px;
        --box-shadow: none;
    }

    .p-list-date {
        margin-top: 10px;
        color: #333;
        margin-bottom: 0px;
        margin-right: 4px;
        flex-basis: 72px;
        flex-grow: 1;
    }

    .p-mls {
        min-width: 72px;
        text-align: right;
        white-space: nowrap;
        margin-top: 2px;
        font-size: 14px;
        color: #333;
        margin-bottom: 0px;
    }

    .leasePrice {
        font-size: 16px;
        font-weight: 500;
        color: #333;
    }

    .saleLeaseBadge {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 20px;
        border: 1px solid #e1f3d8;
        border-radius: 4px;
        padding: 0 5px;
        font-size: 12px;
        white-space: nowrap;
        word-break: keep-all;
        background-color: #f0f9eb;
        color: #67c23a;
        margin-left: 4px;
    }

    .section-nearby {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 80px;
    }

    .nearby-btn {
        text-transform: capitalize;
        --box-shadow: none;
        --border-radius: 0px;
    }

    ion-segment-button {
        text-transform: capitalize !important;
    }

    ion-item {
        border-radius: 0;
        border-bottom: 1px dotted var(--ion-color-light);
    }

    ion-card {
        margin: 5px 1px !important;
    }

    ion-chip {
        font-size: 12px;
    }

    .btn-more {
        color: #fff;
    }

    .p-mr {
        margin: 8px 0px !important;
        font-size: 12px !important;
    }

    .school-title {
        margin-left: 5px;
    }

    .mp-title {
        font-size: 16px;
    }

    .mortgage-price {
        color: #e88506;
        font-weight: 500;
        font-size: 16px;
    }

    .mat-expansion-panel-header-title {
        color: #101010 !important;
    }

    .number-format {
        color: #e88506;
        font-weight: 500;
    }

    .chip-span {
        border: 1px solid #009cff;
        padding: 1px 3px;
        text-transform: capitalize;
        width: fit-content;
        font-size: 12px;
        margin: 4px 4px 1px 0;
        border-radius: 2px;
        background-color: #e1f3ff;
        color: #009cff;
        display: inline-flex;
    }

    .expansion-header {
        height: 50px !important;
        padding: 0px 10px !important;
    }

    .head4 {
        color: #101010;
        font-weight: 100 !important;
        font-size: 14px !important;
        margin-top: 0px !important;
        margin-bottom: 5px !important;
    }

    .head6 {
        color: #888 !important;
        font-weight: 100 !important;
        font-size: 12px !important;
        margin: 0px !important;
    }

    .row-room {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        border-bottom: 1px solid #eee;
        padding: 12px 0;
        color: #333;
        margin: 0 15px;
    }

    .section-format {
        margin: 0px 10px;
        display: block;
        border-bottom: 1px solid #eee;
        padding: 8px 0;
        overflow: hidden;
    }

    .section {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .school-name {
        font-size: 15px;
        color: #000;
        margin: 0px;
        margin-right: 10px;
    }

    .rating {
        white-space: nowrap;
        font-size: 15px;
        color: #333;
        margin: 0px;
    }

    .actual-rating {
        color: #ff9d00;
        font-weight: 500;
    }

    .room-desc {
        margin-top: 7px;
        width: 100%;
        color: #666;
        font-size: 14px;
    }

    .mort-btn {
        text-transform: capitalize;
        font-size: 13px;
    }

    .row-bottom {
        margin-bottom: 5px;
        border-bottom: 1px solid #dedede;
    }

    h6 {
        font-size: 12px;
        color: #888;
    }

    .fieldformat {
        width: 70%;
        padding-right: 5px;
    }

    .fieldPercent {
        width: 30%;
    }

    .add-fav-margin {
        margin: 0px 0px 2px 1px !important;
        font-size: 12px;
        height: 40px;
    }

    .schedule-margin {
        margin: 0px 1px 2px 1px !important;
        height: 40px;
        font-size: 12px;
    }

    .viewDetail {
        color: #0062ca;
        text-decoration: underline;
    }
}

.row-div {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
  
ion-slides {
    box-shadow: 0 4px 16px rgba(var(--ion-color-dark-rgb),.4);
    ion-slide {
        .shadow {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1;
        box-shadow: inset 0 0 15rem rgba(var(--ion-color-primary-rgb), .95)
        }
    }
}

.card-img-status {
    width: 120px;
    position: absolute;
    transform: rotate(45deg);
    padding-top: .5rem;
    padding-bottom: .5rem;
    top: 10px;
    right: -30px;
    z-index: 99;
    text-align: center;
    &.closed {
        background-color: rgba(var(--ion-color-danger-rgb), .8);
    }
    &.open {
        background-color: rgba(var(--ion-color-danger-rgb), .8);
    }
}

.login-required {
    filter: blur(5px);
    pointer-events: none;
}