<form [formGroup]="scheduleVisitForm" (ngSubmit)="scheduleVisit(scheduleVisitForm.value)">
    <mat-accordion multi="true">
        <mat-expansion-panel disabled="true" expanded>
            <mat-expansion-panel-header class="expansion-header">
                <mat-panel-title color="dark" class="panelTitle">
                    {{ 'property.scheduleVisit' | translate }}
                </mat-panel-title>
                <ion-buttons slot="end">
                    <ion-button size="small" shape="round" color="dark" (click)="openLink()">
                        <ion-icon name="close"></ion-icon>
                    </ion-button>
                </ion-buttons>
            </mat-expansion-panel-header>

            <mat-form-field appearance="outline" class="fieldFormat">
                <mat-label>{{ 'scheduleVisit.yourName' | translate }}</mat-label>
                <input matInput autocomplete="off" required formControlName="name">
                <mat-icon matSuffix>account_circle</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline" class="fieldFormat">
                <mat-label>{{ 'scheduleVisit.contactNumber' | translate }}</mat-label>
                <input matInput autocomplete="off" required formControlName="contactNumber">
                <mat-icon matSuffix>phone</mat-icon>
            </mat-form-field>
            
            <mat-form-field appearance="outline" class="fieldFormat">
                <mat-label>{{ 'register.email' | translate }}</mat-label>
                <input matInput type="email" autocomplete="off" required formControlName="email">
                <mat-icon matSuffix>mail_outline</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline" class="fieldFormat">
                <mat-label>{{ 'scheduleVisit.yourMessage' | translate }}</mat-label>
                <textarea matInput formControlName="message"></textarea>
            </mat-form-field>

            <ion-button type="submit" class="submit-btn" color="danger" [disabled]="scheduleVisitForm.invalid">
                {{ 'scheduleVisit.submit' | translate }}
            </ion-button>

        </mat-expansion-panel>
    </mat-accordion>
</form>