:host {
    ion-content {
        --background: linear-gradient(-135deg, #f6f6f6, var(--ion-color-pmary));
    }

    ion-item {
        border-radius: 0;
        border-bottom: 1px dotted var(--ion-color-medium);
    }

    ion-list {
        background: #ccc;
    }

    ion-item-sliding {
        border-bottom: 1px solid #ccc;
        margin-bottom: 1%;
        background: #fff;
    }

    .fl-rt {
        float: right;
    }

    .tumbnail-view {
        height: 100px;
        width: 100px;
    
        img {
            border-radius: 5px;
            height: 100px;
            width: 100px;
        }
    }

    .direction-ltr {
        position: absolute;
        right: 10px;
        bottom: 5px;
    }

    .direction-rtl {
        position: absolute;
        left: 10px;
        bottom: 5px;
    }

    .saleClass {
        background: #1e88e5;
        color: #fff;
        font-weight: 500;
    }

    .soldClass {
        background: #ff9e26;
        color: #fff;
        font-weight: 500;
    }

    .leaseClass {
        background: #558b2f;
        color: #fff;
        font-weight: 500;
    }

    .priceText {
        color: #d32f2f;
    }

    .bg-gray {
        background: #e0e0e0;
    }
    
    .price-format {
        font-size: 16px;
        margin: 5px 0px;
    }

    .mg-bt {
        margin-bottom: 1%;
        box-shadow: 0 3px 4px rgba(var(--ion-color-dark-rgb), 0.24);
    }
    
    .footer-format {
        margin: 0px 10px;
    }

    .font-s12 {
        font-size: 12px;
        color: #424242;
    }
    
    .pd-0 {
        padding: 2px 5px 2px 5px !important;
    }

    .mt-0 {
        margin-top: 0px;
    }

    .p-type {
        display: inline-block;
        justify-content: center;
        align-items: center;
        border: 1px solid #009cff;
        padding: 1px 4px;
        font-size: 15px;
        background-color: #e1f3ff;
        color: #009cff;
        font-weight: 400;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .col-left-border {
        border-left: 1px solid #d7d7d7;
    }
}