<ion-header>
	<ion-toolbar color="pmary">
		<ion-buttons slot="start">
			<ion-back-button text="" color="dark"></ion-back-button>
		</ion-buttons>
		<ion-title class="fw400">
			{{ 'app.watchedProperties' | translate }}
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-card *ngIf="favorites?.length === 0" color="danger" class="ion-margin-top">
		<ion-card-content>
			<p class="ion-text-center text-white">{{ 'watched.noWatchedProperties' | translate }}.</p>
		</ion-card-content>
	</ion-card>

	<ion-card *ngIf="loginFlag" color="danger" class="ion-margin-top">
		<ion-card-content>
			<p class="ion-text-center text-white">{{ 'watched.loginRequiredForWatched' | translate }}.</p>
		</ion-card-content>
	</ion-card>

	<ion-list class="ion-no-padding" *ngIf="favorites?.length > 0" [@staggerIn]="favorites">
		<ion-item-sliding *ngFor="let favorite of favorites" #slidingList>

			<ion-item class="bg-white" lines="none" tappable (click)="itemTapped(favorite)">
				<ion-thumbnail class="tumbnail-view" slot="start">
					<span *ngIf="favorite.propertyImage">
						<img src="{{favorite.propertyImage}}">
					</span>
				</ion-thumbnail>

				<ion-label>

					<ion-badge class="fl-rt leaseClass" slot="end"
						[ngClass]="{'direction-ltr' : !isArabic, 'direction-rtl' : isArabic}"
						*ngIf="favorite.soldPrice === 0 && favorite.saleLease === 'Lease'">
						<ion-text color="light">{{ favorite.saleLease }}</ion-text>
					</ion-badge>

					<ion-badge class="fl-rt saleClass" slot="end"
						[ngClass]="{'direction-ltr' : !isArabic, 'direction-rtl' : isArabic}"
						*ngIf="favorite.soldPrice === 0 && favorite.saleLease === 'Sale'">
						<ion-text color="light">{{ favorite.saleLease }}</ion-text>
					</ion-badge>

					<ion-badge class="fl-rt soldClass" slot="end" *ngIf="favorite.soldPrice !== 0"
						[ngClass]="{'direction-ltr' : !isArabic, 'direction-rtl' : isArabic}">
						<ion-text color="light">{{ 'property.sold' | translate }}</ion-text>
					</ion-badge>

					<h2>
						<ion-text color="dark1">{{ favorite.address }}</ion-text>
					</h2>

					<p class="text-12x">
						<ion-text color="dark">{{ favorite.area }}</ion-text>
					</p>

					<p *ngIf="favorite.soldPrice === 0" class="price-format">
						{{ 'property.listed' | translate }}:
						<ion-text class="priceText" *ngIf="favorite.saleLease == 'Sale'">
							${{ favorite.listPrice | number:'1.0':'en-US' }}
						</ion-text>
						<ion-text class="priceText" *ngIf="favorite.saleLease == 'Lease'">
							${{ favorite.listPrice | number:'1.0':'en-US' }} /month
						</ion-text>
					</p>

					<p *ngIf="favorite.soldPrice !== 0" class="price-format">
						{{ 'property.soldFor' | translate }}:
						<ion-text class="priceText">
							${{ favorite.soldPrice | number:'1.0':'en-US' }}
						</ion-text>
					</p>

					<p class="p-type">
						{{  favorite.type }}
					</p>

					<p *ngIf="favorite.soldPrice === 0">
						{{ 'property.listedIn' | translate }}:
						<ion-text>
							{{ favorite.listingEntryDate | date }}
						</ion-text>
					</p>

					<p *ngIf="favorite.soldPrice !== 0">
						{{ 'property.soldDate' | translate }}:
						<ion-text>
							{{ favorite.soldDate | date }}
						</ion-text>
					</p>

				</ion-label>
			</ion-item>

			<ion-footer class="footer-format">
				<ion-row class="font-s12">
					<ion-col class="pd-0" size="3">{{ 'property.MLS' | translate }}</ion-col>
					<ion-col size="3" class="col-left-border pd-0">{{ 'property.bed' | translate }}</ion-col>
					<ion-col size="4" class="col-left-border pd-0">{{ 'property.bath' | translate }}</ion-col>
				</ion-row>
				<ion-row class="font-s12">
					<ion-col class="pd-0" size="3">{{ favorite.mls }}</ion-col>
					<ion-col size="3" class="col-left-border pd-0">{{ favorite.bedrooms }}</ion-col>
					<ion-col size="4" class="col-left-border pd-0">{{ favorite.washrooms }}</ion-col>
				</ion-row>
			</ion-footer>
			
			<ion-item-options>
				<ion-item-option color="danger" (click)="removeFavorite(favorite.id)">
					{{ 'watched.delete' | translate }}
				</ion-item-option>
			</ion-item-options>
		</ion-item-sliding>
	</ion-list>
</ion-content>
