<ion-content class="ion-padding animated fadeIn login">

	<div class="animated fadeInDown ion-text-center ion-padding-horizontal">
		<div class="login-logo"></div>
	</div>

	<!-- Reset form -->
	<div class="title">{{ 'app.resetYourPassword' | translate }}</div>

	<form id="resetpwd" [formGroup]="resetForm" (ngSubmit)="resetPassword(resetForm.value)">

		<mat-form-field appearance="outline" class="fieldFormat">
			<mat-label>{{ 'register.email' | translate }}</mat-label>
			<input matInput type="email" autocomplete="off" required formControlName="email">
			<mat-icon matSuffix>mail_outline</mat-icon>
			<mat-error *ngIf="resetForm.get('email').hasError('required')">
				{{ 'register.emailRequired' | translate }}
			</mat-error>
		</mat-form-field>

		<mat-form-field appearance="outline" class="fieldFormat">
			<mat-label>{{ 'register.password' | translate }}</mat-label>
			<input matInput type="password" autocomplete="off" required formControlName="password">
			<mat-icon matSuffix>vpn_key</mat-icon>
			<mat-error>{{ 'register.passwordRequired' | translate }}</mat-error>
		</mat-form-field>

		<mat-form-field appearance="outline" class="fieldFormat">
			<mat-label>{{ 'register.confirmPassword' | translate }}</mat-label>
			<input matInput type="password" autocomplete="off" required formControlName="confirmPassword">
			<mat-icon matSuffix>vpn_key</mat-icon>
			<mat-error *ngIf="resetForm.get('confirmPassword').hasError('required')">
				{{ 'register.confirmPasswordRequired' | translate }}
			</mat-error>
			<mat-error *ngIf="!resetForm.get('confirmPassword').hasError('required') &&
							   resetForm.get('confirmPassword').hasError('passwordsNotMatching')">
				{{ 'register.passwordMatch' | translate }}
			</mat-error>
		</mat-form-field>

		<ion-button type="submit" class="submit-btn" color="danger" [disabled]="resetForm.invalid">
			{{ 'resetPassword.resetMyPassword' | translate }}
		</ion-button>

		<!-- <div class="already-account">
			<a class="loginLink" (click)="login()">Go back to login</a>
		</div> -->
	</form>
</ion-content>