<ion-header>
	<ion-toolbar color="pmary">
		<ion-buttons slot="start">
			<ion-back-button text="" color="dark"></ion-back-button>
		</ion-buttons>
		<ion-title>
			<ion-text color="dark" class="fw400">{{ 'app.blogs' | translate }}</ion-text>
		</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content>
    <div class="ion-no-margin" [@staggerIn]="blogs">
        <div  *ngFor="let blog of blogs">
            <ion-card class="bg-white" (click)="blogInfo(blog)">
                <div *ngIf="blog.blogImage">
                    <img src="{{imageUrl}}{{blog.blogImage}}">
                </div>
                <div class="ion-padding">
                    <h4 class="blog-title">{{ blog.title }}</h4>
                    <span color="dark" style="padding-bottom: 10px; display: flex;">By: {{ blog.createdBy }}</span>
                    <span color="dark">Date: {{ blog.createdDate | date }}</span>
                </div>
            </ion-card>
        </div>
    </div>
</ion-content>