ion-content {

	--background: #f5f5f5 !important;

	.div-photo {
		position: relative;
		height: 290px;
		background-size: cover;
		background-position: 50%;
		background-repeat: no-repeat;
		overflow: hidden;
	}

	.div-photo::before {
		content: "";
		position: absolute;
		z-index: 0;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,.4);
	}

	.flag {
		position: absolute;
		z-index: 10;
		right: 0;
		top: 16px;
		display: flex;
		align-items: center;
		height: 32px;
		padding: 0 5px;
		text-align: center;
		font-size: 15px;
		background-color: #e01a27;
		color: #fff;
	}

	.flag::before {
		content: "";
		position: absolute;
		left: -16px;
		top: 0;
		width: 0;
		height: 0;
		border-bottom: 16px solid transparent;
		border-top: 16px solid transparent;
		border-left: 0;
		border-right: 16px solid #e01a27;
	}

	.address {
		position: relative;
		z-index: 10;
		text-align: center;
		color: #fff;
		margin-top: 63px;
		font-size: 24px;
		font-weight: 400;
		margin-bottom: 0px;
	}

	.community {
		margin-top: 10px;
		font-size: 14px;
		position: relative;
		z-index: 10;
		text-align: center;
		color: #fff;
		margin-bottom: 0px;
	}

	.listing-spec {
		position: absolute;
		z-index: 10;
		left: 0;
		bottom: 15px;
		width: 100%;
		color: #fff;
		display: flex;
		justify-content: space-around;
    	align-items: stretch;
	}

	.listing-svg {
		position: relative;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		display: flex;
	}

	.difference {
		margin-top: 2px;
		text-align: center;
		font-size: 14px;
		letter-spacing: 2px;
	}

	.info {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		margin-left: 10px;
		margin-right: 10px;
		margin-bottom: 0px;
		margin-top: 10px;
	}

	.term {
		font-size: 16px;
		color: #333;
	}

	.value {
		margin-left: 1em;
		text-align: right;
		font-size: 16px;
		color: #333;
	}

	.header {
		margin: 24px 10px 0;
		font-size: 20px;
	}

	.listing-comparasion {
		margin: 16px;
		width: auto;
		display: block;
		text-align: left;
	}

	.div-listing-photo {
		position: relative;
		width: 100%;
		height: 210px;
		overflow: hidden;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50%;
	}

	.div-listing-photo::before {
		content: "";
		position: absolute;
		z-index: 0;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,.4);
	}

	.listing-flag {
		position: absolute;
		z-index: 10;
		right: 0;
		top: 16px;
		display: flex;
		align-items: center;
		height: 32px;
		padding: 0 5px;
		text-align: center;
		font-size: 15px;
		background-color: #e01a27;
		color: #fff;
	}

	.listing-flag::before {
		content: "";
		position: absolute;
		left: -16px;
		top: 0;
		width: 0;
		height: 0;
		border-bottom: 16px solid transparent;
		border-top: 16px solid transparent;
		border-left: 0;
		border-right: 16px solid #e01a27;
	}

	.price {
		position: relative;
		z-index: 10;
		color: #fff;
		margin: 16px 0 0 16px;
    	font-size: 18px;
	}

	.date {
		margin: 8px 0 0 16px;
		font-size: 16px;
		position: relative;
		z-index: 10;
		color: #fff;
	}

	.eq {
		position: absolute;
	    z-index: 10;
		right: calc((100% - 36px)/2 - 8px);
		width: 16px;
		height: 16px;
		top: 10px;
		border-radius: 50%;
		background-size: 65%;
		background-position: 50%;
		background-repeat: no-repeat;
		background-image: url(../../../../assets/img/icon-eq.svg);
		background-color: #009cff;
	}

	.up {
		position: absolute;
	    z-index: 10;
		right: calc((100% - 36px)/2 - 8px);
		width: 16px;
		height: 16px;
		top: 10px;
		border-radius: 50%;
		background-size: 65%;
		background-position: 50%;
		background-repeat: no-repeat;
		background-image: url(../../../../assets/img/icon-gt.svg);
		background-color: #1ac32a;
	}

	.down {
		position: absolute;
	    z-index: 10;
		right: calc((100% - 36px)/2 - 8px);
		width: 16px;
		height: 16px;
		top: 10px;
		border-radius: 50%;
		background-size: 65%;
		background-position: 50%;
		background-repeat: no-repeat;
		background-image: url(../../../../assets/img/icon-lt.svg);
		background-color: #f82e2e;
	}

	.listing-info {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 4px;
		margin-bottom: 0px;
	}

	.size {
		color: #333;
		font-size: 14px;
	}

	.distance {
		color: #333;
		font-size: 14px;
	}

	.land {
		display: flex;
		align-items: center;
		font-size: 14px;
		color: #333;
	}

	.type {
		justify-content: center;
		height: 18px;
		border: 1px solid #009cff;
		border-radius: 2px;
		padding: 0 4px;
		white-space: nowrap;
		background-color: #e1f3ff;
		color: #009cff;
		display: flex;
		align-items: center;
		font-size: 14px;
	}

	.inner-scroll {
		padding: 5px !important;
	}
}