<ion-header>
    <ion-toolbar color="pmary" style="zoom: 0.9;">
        <ion-buttons slot="start">
            <ion-button color="primary" (click)="closeModal()">
                <ion-icon name="close" color="dark"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title class="fw400">
            Nearby {{ type }}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="div-photo" [style.background-image]="'url('+property.propertyImage+')'">
        <span *ngIf="property.soldPrice !== 0 && property.difference_In_SoldDays > 30" class="flag">
            Sold in {{ property.soldDate | date }}
        </span>
        <span *ngIf="property.soldPrice !== 0 && property.difference_In_SoldDays <= 30" class="flag">
            Sold {{ property.difference_In_SoldDays }} days ago
        </span>
        
        <span *ngIf="property.soldPrice === 0 && property.difference_In_ListingDays > 30" class="flag">
            Listed in {{ property.listingEntryDate | date }}
        </span>
        <span *ngIf="property.soldPrice === 0 && property.difference_In_ListingDays <= 30" class="flag">
            Listed {{ property.difference_In_ListingDays }} days ago
        </span>
        
        <p class="address">{{ property.unit }} - {{ property.address }}</p>
        <p class="community">{{ property.community }}</p>
        <div *ngIf="property.propertyType === 'residential'" class="listing-spec">
            <div class="listing-svg">
                <img style="width: 36px;" src="assets/img/bedroom-white.svg">
                <p *ngIf="!property.bedroomsPlus" style="margin: 10px 0px 0px;">
                    {{ property.bedrooms }} {{ 'property.bedrooms' | translate }}
                </p>
                <p *ngIf="property.bedroomsPlus" style="margin: 10px 0px 0px;">
                    {{ property.bedrooms }} + {{ property.bedroomsPlus }} {{ 'property.bedrooms' | translate }}
                </p>
            </div>
            <div class="listing-svg">
                <img style="width: 36px;" src="assets/img/bathroom-white.svg">
                <p style="margin: 10px 0px 0px;">{{ property.washrooms }} {{ 'property.bathroom' | translate }}</p>
            </div>
            <div class="listing-svg">
                <img style="width: 36px;" src="assets/img/parking-white.svg">
                <p style="margin: 10px 0px 0px;">{{ property.garageSpaces }} {{ 'property.parking' | translate }}</p>
            </div>
        </div>
    </div>
    <p class="info">
        <span class="term">Size:</span>
        <span class="value">{{ property.approxSquareFootage }} feet²</span>
    </p>    
    <p class="info">
        <span class="term">Listing:</span>
        <span *ngIf="property.saleLease == 'Sale'">
            ${{ property.listPrice | number:'1.0':'en-US'}}
        </span>
        <span *ngIf="property.saleLease == 'Lease'">
            ${{ property.listPrice | number:'1.0':'en-US'}} /month
        </span>
    </p>
    <div class="header">
        <span>Nearby {{ type }} <span style="font-size: 16px; color: #666;">(Sort by similarity)</span></span>
    </div>

    <div *ngIf="type === 'sold'">
        <div *ngFor="let sold of soldProperties" class="listing-comparasion">
            <div (click)="openPropertyDetails(sold.id)">
                <div class="div-listing-photo" [style.background-image]="'url('+sold.propertyImage+')'">
                    <span *ngIf="sold.difference_In_SoldDays > 30" class="listing-flag">
                        Sold in {{ sold.soldDate | date }}
                    </span>
                    <span *ngIf="sold.difference_In_SoldDays <= 30" class="listing-flag">
                        Sold {{ sold.difference_In_SoldDays }} days ago
                    </span>
                    <p class="price">${{ sold.soldPrice | number:'1.0':'en-US' }}</p>
                    <p class="date">Sold date: {{ sold.soldDate | date:'yyyy-MM' }}</p>
                    <div *ngIf="property.propertyType === 'residential'" class="listing-spec">
                        <div class="listing-svg">
                            <img style="width: 36px;" src="assets/img/bedroom-white.svg">
                            <i *ngIf="sold.diffrence.bedrooms === 0" class="eq"></i>
                            <i *ngIf="sold.diffrence.bedrooms > 0" class="up"></i>
                            <i *ngIf="sold.diffrence.bedrooms < 0" class="down"></i>
                            <p *ngIf="!sold.bedroomsPlus" style="margin: 10px 0px 0px;">
                                {{ sold.bedrooms }} {{ 'property.bedrooms' | translate }}
                            </p>
                            <p *ngIf="sold.bedroomsPlus" style="margin: 10px 0px 0px;">
                                {{ sold.bedrooms }} + {{sold.bedroomsPlus}} {{ 'property.bedrooms' | translate }}
                            </p>
                            <p *ngIf="sold.diffrence.bedrooms !== 0" class="difference">({{ sold.diffrence.bedrooms }})</p>
                        </div>
                        <div class="listing-svg">
                            <img style="width: 36px;" src="assets/img/bathroom-white.svg">
                            <i *ngIf="sold.diffrence.washrooms === 0" class="eq"></i>
                            <i *ngIf="sold.diffrence.washrooms > 0" class="up"></i>
                            <i *ngIf="sold.diffrence.washrooms < 0" class="down"></i>
                            <p style="margin: 10px 0px 0px;">{{ sold.washrooms }} {{ 'property.bathroom' | translate }}</p>
                            <p *ngIf="sold.diffrence.washrooms !== 0" class="difference">({{ sold.diffrence.washrooms }})</p>
                        </div>
                        <div class="listing-svg">
                            <img style="width: 36px;" src="assets/img/parking-white.svg">
                            <i class="eq"></i>
                            <p style="margin: 10px 0px 0px;">{{ sold.garageSpaces }} {{ 'property.parking' | translate }}</p>
                        </div>
                    </div>
                </div>
        
                <p class="listing-info">
                    <span class="size">Size: {{ sold.approxSquareFootageMin }}-{{ sold.approxSquareFootageMax }} feet²</span>
                    <span class="distance">{{ sold.distance | number : '1.2-2' }} KM</span>
                </p>
                <p class="listing-info">
                    <span class="type">{{ sold.type }}</span>
                </p>
            </div>
        </div>
    </div>

    <div *ngIf="type === 'lease'">
        <div *ngFor="let lease of leaseProperties" class="listing-comparasion">
            <div (click)="openPropertyDetails(lease.id)">
                <div class="div-listing-photo" [style.background-image]="'url('+lease.propertyImage+')'">
                    <span *ngIf="lease.difference_In_ListingDays > 30" class="listing-flag">
                        Leased in {{ lease.listingEntryDate | date }}
                    </span>
                    <span *ngIf="lease.difference_In_ListingDays <= 30" class="listing-flag">
                        Leased {{ lease.difference_In_ListingDays }} days ago
                    </span>
                    <p class="price">${{ lease.originalPrice | number:'1.0':'en-US' }}</p>
                    <p class="date">Leased date: {{ lease.listingEntryDate | date:'yyyy-MM' }}</p>
                    <div *ngIf="property.propertyType === 'residential'" class="listing-spec">
                        <div class="listing-svg">
                            <img style="width: 36px;" src="assets/img/bedroom-white.svg">
                            <i *ngIf="lease.diffrence.bedrooms === 0" class="eq"></i>
                            <i *ngIf="lease.diffrence.bedrooms > 0" class="up"></i>
                            <i *ngIf="lease.diffrence.bedrooms < 0" class="down"></i>
                            <p *ngIf="!lease.bedroomsPlus" style="margin: 10px 0px 0px;">
                                {{ lease.bedrooms }} {{ 'property.bedrooms' | translate }}
                            </p>
                            <p *ngIf="lease.bedroomsPlus" style="margin: 10px 0px 0px;">
                                {{ lease.bedrooms }} + {{lease.bedroomsPlus}} {{ 'property.bedrooms' | translate }}
                            </p>
                            <p *ngIf="lease.diffrence.bedrooms !== 0" class="difference">({{ lease.diffrence.bedrooms }})</p>
                        </div>
                        <div class="listing-svg">
                            <img style="width: 36px;" src="assets/img/bathroom-white.svg">
                            <i *ngIf="lease.diffrence.washrooms === 0" class="eq"></i>
                            <i *ngIf="lease.diffrence.washrooms > 0" class="up"></i>
                            <i *ngIf="lease.diffrence.washrooms < 0" class="down"></i>
                            <p style="margin: 10px 0px 0px;">{{ lease.washrooms }} {{ 'property.bathroom' | translate }}</p>
                            <p *ngIf="lease.diffrence.washrooms !== 0" class="difference">({{ lease.diffrence.washrooms }})</p>
                        </div>
                        <div class="listing-svg">
                            <img style="width: 36px;" src="assets/img/parking-white.svg">
                            <i class="eq"></i>
                            <p style="margin: 10px 0px 0px;">{{ lease.garageSpaces }} {{ 'property.parking' | translate }}</p>
                        </div>
                    </div>
                </div>
        
                <p class="listing-info">
                    <span class="size">Size: {{ lease.approxSquareFootageMin }}-{{ lease.approxSquareFootageMax }} feet²</span>
                    <span class="distance">{{ lease.distance | number : '1.2-2' }} KM</span>
                </p>
                <p class="listing-info">
                    <!-- <span class="land">Land: 55() X 110() feet</span> -->
                    <span class="type">{{ lease.type }}</span>
                </p>
            </div>
        </div>
    </div>
</ion-content>