:host {
    ion-content {
        text-align: center !important;
        padding: 24px !important;
    }

    form {
        width: 100%;
        padding-top: 32px;
        font-size: 14px;
    }
}

.login-logo {
    height: 120px;
    width: 128px;
    margin: 32px auto;
    background: url("/assets/img/logo.png") no-repeat;
    background-size: 100%;
}

.title {
    font-size: 21px;
    text-align: center ;
    font-weight: 400 !important;
}

.fieldFormat {
    width: 90%;
}

.back-to-login {
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: center;
    align-items: center;
    margin: 10px auto 10px;
    width: 250px;
    font-weight: 400;
}

.loginLink {
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 16px;
    color: #039be5;
}

.submit-btn {
    width: 80%;
    margin: 16px auto;
}