<ion-header>
    <ion-toolbar color="pmary">
        <ion-buttons slot="start">
            <ion-button color="primary" (click)="closeModal()">
                <ion-icon name="close" color="dark"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title color="dark">
            Property Type
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <h1>Select Property Type</h1>
    <ion-button>Sale</ion-button>
    <ion-button>Rent</ion-button>
    <ion-button>Lease</ion-button>
    <ion-button>Sale</ion-button>
</ion-content>